pkgbase = pdf2html
	pkgdesc = Converts pdf files to html files.
	pkgver = 1.4
	pkgrel = 4
	url = ftp://atrey.karlin.mff.cuni.cz/pub/local/clock/pdf2html/pdf2html-1.4/README
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = patch
	depends = ghostscript
	depends = imagemagick
	depends = libpng
	source = ftp://atrey.karlin.mff.cuni.cz/pub/local/clock/pdf2html/pdf2html-1.4.tgz
	source = pbm2png.diff
	source = index.html.diff
	md5sums = cefb8fac9366cc7f793740e9d397af1a
	md5sums = f68531d64358cc7f23282792510199e5
	md5sums = 017aa3a4d4ce042f519ca9863994d285

pkgname = pdf2html

